<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <linK rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<style>
  .simple {
      margin-top: 70px; /* Add margin-top value here */
      
    }
    .s {
      margin-left: 12px;
    }
    h1{
      text-align: center;
      font-size: 3.4rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<body>
    {{>anavbar}}
    <section id="section1">
      <div class="simple">
        <h1>Section A</h1>
        <ul class="s">
          <li>
            <p>WEB PAGE BASICS</p>
            <embed href="images/ch1.pdf" width="500" height="500"></embed>
            <a href="images/ch1.pdf"  target="_blank" download="my_new_file.pdf">ASP.1</a>
          </li>
          <li>
            <p>Introduction </p>
            <embed href="images/asp.pdf" width="500" height="500"></embed>
            <a href="images/asp.pdf"  target="_blank" download="my_new_file.pdf">ASP.2</a>
            </li>
            <li>
              <p>Framework</p>
              <embed href="images/framework architecture asp. net.pdf" width="500" height="500"></embed>
              <a href="images/framework architecture asp. net.pdf"  target="_blank" download="my_new_file.pdf">ASP.3</a>
            </li>
            <li>
             <p>Structure of Asp.net</p>
              <embed href="images/asp.net page Structure.pdf" width="500" height="500"></embed>
              <a href="images/asp.net page Structure.pdf"  target="_blank" download="my_new_file.pdf">ASP.4</a> 
            </li>
            <li>
             <p>Framework</p>
              <embed href="images/asp.net page Structure.pdf" width="500" height="500"></embed>
              <a href="images/asp.net page Structure.pdf"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>Framework</p>
              <embed href="images/asp.net page Structure.pdf" width="500" height="500"></embed>
              <a href="images/asp.net page Structure.pdf"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>Framework</p>
              <embed href="images/asp.net page Structure.pdf" width="500" height="500"></embed>
              <a href="images/asp.net page Structure.pdf"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>State Management</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>C#</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>C#</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>C#</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>C#</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>
            <li>
             <p>C#</p>
              <embed href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB" width="500" height="500"></embed>
              <a href="https://drive.google.com/drive/u/0/folders/1FXFs8hPVwcSiRAQxvR-7KNwqJnYmuFgX?hl=en_GB"  target="_blank" download="my_new_file.pdf">ASP.5</a> 
            </li>

          
        </ul>

          
      </div>
    </section>
    
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
